@model dynamic

@{ var a = 10;}
<div class="site-header">
	<div class="container">
		<a href="#" class="branding">
			<img src="images/logo.png" alt="" class="logo">
			<div class="logo-type">
				<h1 class="site-title">Hava durumu</h1>
				<small class="site-description">tagline goes here</small>
			</div>
		</a>

		<!-- Default snippet for navigation -->
		<div class="main-navigation">
			<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
			<ul class="menu">
				<li class="menu-item current-menu-item"><a href="/weather">Home</a></li>
				@*<li class="menu-item"><a href="news.html">News</a></li>*@
				
			</ul> <!-- .menu -->
		</div> <!-- .main-navigation -->

		<div class="mobile-navigation"></div>

	</div>
</div> <!-- .site-header -->