@model WeatherApp.MVC.Models.WeatherApiResponse


<main class="main-content">
	<div class="fullwidth-block">
	</div>
	<div class="fullwidth-block">
		<div class="container">
					<img style="width: 100%; height: 520px;" alt="@Model.location.name,@Model.location.region" src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.location.name,@Model.location.region&zoom=9&size=1200x500&key=AIzaSyAuonCI6dPu63r8wXMGDc5a5-Svu_2r8s0" />
		</div>
	</div>
</main> <!-- .main-content -->
